/* pantalla DETALLE editar */

.detalle-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    text-align: center;
    background: #FFBF61;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    color:#242424
  }
  
  .detalle-container img {
    max-width: 100%;
    height: auto;
    margin: 10px 0;
    border-radius: 5px;
  }
  
  
  .botones-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  
  .btn-detalle,  .editar-btn, .eliminar-btn, .cancelar-btn, .cambiar-foto-btn {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background-color: #E16A54;
    color: white;
    flex: 1 1 40%; /* Se ajusta automáticamente para móvil */
    min-width: 120px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .btn-detalle:hover {
    background-color: #d55d49;
  }
  
  @media (min-width: 768px) {
    .btn-detalle {
      min-width: 150px;
    }
  }